nav ul{
    margin: 0;
    padding: 0;
    width: 195px;
    height: 88%;
    background-color: #2e314c;
    position: absolute;
    border: 3px solid black;
}

nav ul li{
    list-style-type: none;
    background-color:#484d77;
    display: flex;
    padding: 10px;
    margin: 8px;
    border: 2px solid #484d77;
    border-radius: 12px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li:hover{
    background-color: #2e314c;
    text-decoration: underline;
}

header {
    text-align:left;
    color: white;
}

footer {
    padding: 5px;
    margin: 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-height: fit-content;
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
}

body{
    font-family: Verdana;
    margin: 0;
    background-color: #2e314c;
    color: white;
    height: auto;
}

main{
    background-color: gray;
    color: black;
    width: auto;
    height: 88vh;
    padding-left: 220px;
    padding-right: 20px;
    border: 3px solid black;
}

label {
        float: left;
        width: 112px;
        padding-right: 10px;
        text-align: right;
    }

    input {
        margin-left: 1em;
        margin-bottom: .5em;
        width: 220px;
    }

    #button, #reset {
        margin-top: .5em;
        width: 8em;
        background-color: orange;
        border: 2px solid black;
    }

    input[type="checkbox"] {
        width: 15px;
    }

    #button {
        margin-left: 138px;
    }

    #reset {
        margin-left: 82px;
    }

    input[type="radio"] {
        width: 10px;
    }

    .required {
        font-weight: bold;
        color: red;
    }

    .setback{
        background-color: beige;
    }
